<nav role="navigation">
  <ul>
  {% for item in menu_main.get_items %}
    <li class="{{item.classes|join(' ')}}">
      <a href="{{item.get_link}}">{{item.title}}</a>
    </li>
  {% endfor %}
  </ul>
</nav>
